@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.dark-mode {
	background-color: black;
	color: white;
  }
html,
body {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to left, white 40%, rgb(10, 43, 48) 30%) right;
  background-size: 200% 100%;
}
p{
  line-height: 32px;   
}

/* spinner */
.loader{
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8f44fd;
    opacity: 100%;
  }
  
  .spinner {
    display: flex;
    gap: 0.275rem;
    width: 3rem;
    height: 3rem;
  }
  
  .spinner div {
    background: #f7f7f7;
    width: 0.375rem;
    animation: bounce 1.1s infinite ease-in-out;
  }
  .spinner--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes bounce {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
  
  .spinner .shape2 {
    animation-delay: -1s;
  }
  
  .spinner .shape3 {
    animation-delay: -0.9s;
  }
  
  .spinner .shape4 {
    animation-delay: -0.8s;
  }
  
  .spinner .shape5 {
    animation-delay: -0.7s;
  }




/* alongside */
.alongside{
  margin-left: 320px;
  /* background-color: brown; */
  max-width: 1210px;
  padding-left: 4em;
  font-family: quicksand;
  

}
.alongside h1{
text-transform: uppercase;
font-weight: 700;
font-size: larger;

}


/* skills */

.circle-chart {
  width: 150px;
  height: 150px;
}

.circle-chart__circle {
  stroke: #ff0037;
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__background {
  /* stroke: #efefef; */
  stroke: #b1b0b0;
  stroke-width: 2;
  fill: none; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  /* alignment-baseline: central; */
  text-anchor: middle;
  font-size: 8px;
}

.circle-chart__subline {
    /* alignment-baseline: central; */
    text-anchor: middle;
    font-size: 3px;
}

.success-stroke {
  stroke: #ff0037;
}

.warning-stroke {
  stroke: #ffbb33;
}

.danger-stroke {
  stroke: #ff4444;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.skiller{
  flex-wrap: wrap;
  display: flex;
}

.skills_section{
  width: 200%;
  margin: 0 auto;
  margin-bottom: 80px;
  
}


.skills-area {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.single-skill {
  width: 25%;
}

/* .success-stroke {
  stroke: rgb(129, 86, 252); 
} */

.circle-chart__background {
  /* stroke: #ede4e4; */
  stroke-width: 1;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	.skill-icon {
		width: 50%;
	}
	
	.skill-icon i {
		font-size: 70px;
	}

	.single-skill {
		width: 50%;
	}

	.circle-chart {
		width: 130px;
		height: 130px;
	}
}





/* footer */



/* RESPONSIVENESS mobile*/
@media only screen and (max-width: 768px) {
  html,
body {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to left, white 35%, rgb(10, 43, 48) 30%) right;
  background-size: 200% 100%;
}
  #res {
    margin-left: -35px;
    margin-top: 35px;
    transform: scale(0.8);
  }
  .navig{
    margin-left: 100px;
    margin-top: 10px;
  }
  .footer{
    margin:35%;
  }
  #mob{
    margin-right: 30px;
  }
  #me{
    width: 100px;
    height: auto;
    border-radius: 20%;
    margin-left: 5px;
  }
  
}

/* RESPONSIVENESS laptop*/
@media only screen and (max-width: 600px) {


}





/* navigations */

/* .sidebar {
  width:max(250px, 10vw);
  background:cadetblue;
  height:100vh;
}  */


/* resume button */



#res{
  margin-left: 20px;
}
#copy{
  font-size: 10px;
}


/* projects */

.articles {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* font-size: 62.5%; */
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  max-width: 70rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to right bottom, #dee2e6, #dbdbdb); */
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.507); */
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.3s;
  position: relative;
  border: 1px solid rgb(211, 205, 205);
  
}

.item:hover {
  transform: translateY(-1.1rem);
  opacity:90%;
}

.item-photo {
  width: 100%;
  /* max-height: 30%; */
  align-self: center;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.3rem 0.8rem;
  gap: 1rem;
}

.item-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.item-title {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
}

.item-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.item-link:link,
.item-link:visited {
  display: flex;
  flex-wrap: nowrap;
  /* font-size: 1.6rem; */

  padding: 1.6rem 2.4rem;
  
  /* text-decoration: underline #099268; */
  /* color: #099268; */
  color: #050c0a;

  /* stick link to the bottom of item */
  margin-top: auto;
  
}
.item-link button{
  transform: matrix(2);
}

.item-link:hover,
.item-link:active {
  color: #3aa886;
  text-decoration: underline #3aa886;
}

/* TABLETS */
@media (max-width: 950px) {
  h1 {
    font-size: 2.8rem;
  }

  .features {
    grid-template-columns: 1fr 1fr;
    max-width: 60rem;
  }

  .item1 {
    grid-column: span 2;
  }

  .item-title {
    font-size: 3rem;
  }

  .item-text {
    font-size: 2rem;
  }

  .item-link:link,
  .item-link:visited {
    font-size: 2rem;
  }
}

/* MOBILES */
@media (max-width: 650px) {
  .features {
    grid-template-columns: 1fr;
    max-width: 30rem;
  }

  .item1 {
    grid-column: span 1;
  }

  h1 {
    font-size: 2.4rem;
  }
}
